// Базовые стили
body {
  font-family: Roboto, sans-serif;
  color: #000000;
  background-color: #ffffff;
}

// Обнуляем отступы
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

// Убираем отступы у изображений снизу
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Обнуляет стиль списка
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Убирает подчеркивание у ссылок
.link-style {
  text-decoration: none;
}

// Cкролл плавно
html {
  scroll-behavior: smooth;
}

// Скрывает элемент из потока
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.opacity {
  opacity: 0;
}
