.container {
  // Контейнер для mobil
  margin: 0 auto;
  padding: 60px 20px;
  width: 320px;

  // Контейнер для tablet
  @media screen and (min-width: 768px) {
    width: 658px;
  }

  // Контейнер для desktop
  @media screen and (min-width: 1024px) {
    width: 922px;
  }
}
