// стили только для футера
.footer__page {
  color: #545454;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0 auto;

  padding-top: 30px;
  padding-bottom: 30px;

  &-icon {
    fill: #ff6b08;
    margin-right: 5px;
  }

  &-link {
    cursor: pointer;
    color: inherit;
  }

  &-it {
    color: #ff6b08;
  }

  @media screen and (max-width: 767px) {
    min-width: 320px;
  }
  // Контейнер для tablet
  @media screen and (min-width: 768px) {
    width: 658px;
  }
  // Контейнер для desktop
  @media screen and (min-width: 1024px) {
    width: 922px;
  }
}

// для свича тем
body.dark-theme .footer__page {
  color: #fff;
}
