.footer__page {
  //   outline: 1px solid tomato;
  text-align: center;
  margin: 0 auto;

  &-dev {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-lead {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &-icon {
    fill: #ff6b08;

    margin-right: 5px;
  }

  &-btn {
    background-color: transparent;
    border: transparent;
    border-radius: 2px;
    cursor: pointer;
  }

  &-btn:hover,
  &-btn:focus {
    background-color: #f0efec;
  }

  &-it {
    color: #ff6b08;
  }

  @media screen and (max-width: 767px) {
    min-width: 320px;
  }

  // Контейнер для tablet
  @media screen and (min-width: 768px) {
    width: 658px;
  }

  // Контейнер для desktop
  @media screen and (min-width: 1024px) {
    width: 922px;

    &-icon {
      margin-right: 0px;
      margin-left: 2px;
    }

    &-dev {
      display: inline;
    }
  }
}
