.header {
  padding-top: 25px;
  padding-bottom: 61px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

  &__link {
    display: flex;
    align-items: flex-end;
  }

  &__main-bg-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-mobil-320x230@1x.jpg);

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-tablet-768x230@1x.jpg);
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-desktop-1024x230@1x.jpg);
    }

    &.dark-theme {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/header-mobil-320x230@1x.jpg);

      @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-tablet-768x230@1x.jpg);
      }

      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-desktop-1024x230@1x.jpg);
      }
    }
  }

  &__lib-bg-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-libr-mobil-320x230@1x.jpg);

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-libr-tablet-768x230@1x.jpg);
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-libr-desktop-1024x230@1x.jpg);
    }

    &.dark-theme {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/header-libr-mobil-320x230@1x.jpg);

      @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-libr-tablet-768x230@1x.jpg);
      }

      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-libr-desktop-1024x230@1x.jpg);
      }
    }
  }

  @media screen and (max-width: 767px) {
    min-width: 320px;
  }

  &__box {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
  }

  &__input {
    padding-bottom: 4px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: inherit;
    height: 20px;
    font-size: 14px;
    border-bottom: 0.5px solid #ffffff;

    &::placeholder {
      color: inherit;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.14;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }

  &__logo {
    display: inline-block;
  }

  &__logo-text {
    display: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 0.8;
    margin-left: 6px;

    @media screen and (min-width: 768px) {
      display: inline;
    }
  }

  &__btn-box {
    @media screen and (min-width: 768px) {
      padding: 0 28px;
    }
  }

  &__watch-btn,
  &__queue-btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.35;
    padding: 13px 36px;
    color: #ffffff;
    width: 130px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 8px 2px #af0909;
    }

    &_active {
      background-color: #ff6b01;
      border-color: #ff6b01;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }

  &__queue-btn {
    margin-left: 20px;
  }
}

.nav-menu {
  margin-left: auto;
  display: flex;

  @media screen and (min-width: 768px) {
    margin-right: 140px;
  }

  @media screen and (max-width: 767px) {
    margin-left: 70px;
  }

  &__btn {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    text-transform: uppercase;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;

    &_hover:hover,
    &_hover:focus {
      box-shadow: 0px 0px 10px 2px #af0909;
      border-radius: 5px;
    }

    &_active:hover,
    &_active:focus {
      box-shadow: none;
    }

    &_active::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: #ff6b08;
    }
  }

  &__btn:not(:last-child) {
    margin-right: 40px;
  }
}

.input-wrap {
  position: relative;
  display: block;
  margin: 41px auto 0;
  width: 280px;
  height: 20px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  &_searchIcon::after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
    background-position: center;
    background-size: 12px;
    background-color: inherit;
    background-repeat: no-repeat;
    background-image: url(../images/search.svg);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header__main-bg-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-mobil-320x230@2x.jpg);

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-tablet-768x230@2x.jpg);
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-desktop-1024x230@2x.jpg);
    }

    &.dark-theme {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/header-mobil-320x230@2x.jpg);

      @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-tablet-768x230@2x.jpg);
      }

      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-desktop-1024x230@2x.jpg);
      }
    }
  }

  .header__lib-bg-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-libr-mobil-320x230@2x.jpg);

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-libr-tablet-768x230@2x.jpg);
    }

    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-libr-desktop-1024x230@2x.jpg);
    }

    &.dark-theme {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/header-libr-mobil-320x230@2x.jpg);

      @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-libr-tablet-768x230@2x.jpg);
      }

      @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url(../images/header-libr-desktop-1024x230@2x.jpg);
      }
    }
  }
}
.notification {
  height: 16px;
  margin-top: 22px;
  text-align: center;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  color: rgba(255, 0, 27, 1);
}

.activeBtn {
  background-color: #ff6b01;
  border-color: #ff6b01;
}

// *******************
.authenticate {
  display: flex;
  align-items: center;
}
.user__name {
  display: inline;
  margin-left: auto;
  margin-right: 50px;
  font-size: 16px;
}

.authenticate__btn {
  padding: 5px;
  margin: 5px;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: inherit;
}
