//Стили модалки
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  z-index: 2;
}
// Открытие модалки
.modal.is-open {
  opacity: 1;
  pointer-events: initial;
}
// Блокируем скрол
body.modal-open {
  overflow: hidden;
}

// Фоновая подложка
.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}
// Контейнер модалки
.modal__container {
  overflow-x: auto;
  position: relative;

  max-height: 100vh;
  width: 280px;
  margin: auto;
  padding: 48px 20px 41px 20px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #000000;
  z-index: 2;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: calc(20 / 12);

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    margin: auto;
    width: 618px;
    min-height: 457px;
    padding: 42px 30px 40px 28px;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}
// Изображение постера фильма
.image {
  display: block;
  max-width: 240px;
  height: 356px;
  border-radius: 5px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 264px;
    height: 374px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 396px;
    height: 478px;
  }
}

.film__imgBox {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}
// Информация про фильм
.film__infoBox {
  text-align: star;
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__item {
  display: flex;
  margin-bottom: 10px;
}

.film__properties {
  color: #8c8c8c;
  min-width: 108px;
}

.properties__data--upper {
  text-transform: uppercase;
  line-height: 1.17;
}

.properties__data--marker {
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}

.properties__data--divider {
  margin-right: 3px;
}

.about__title {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about__text {
  line-height: 1.67;
  margin-bottom: 21px;
  color: #000000;
}

// Кнопки
.film__buttonBox {
  display: flex;
}

.film__button {
  width: 112px;
  height: 44px;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  &:first-child {
    margin-right: 15px;
  }
  &:hover,
  &:focus {
    background-color: #ff6b08;
    color: #ffffff;
    border: 1px solid #ff6b08;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 125px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}
// Кнопка закрытия
.close__button {
  position: absolute;
  top: 10px;
  right: 10px;

  //   display: flex;
  //   align-items: center;
  //   justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  border: none;
  border-radius: 50%;

  background-color: transparent;
  color: #ffffff;

  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  cursor: pointer;
  outline: none;

  background-image: url(../images/close.svg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  &:hover,
  &:focus {
    background-color: rgb(233, 230, 230);

    border: 1px solid rgb(170, 168, 168);
  }
}

body.dark-theme .modal__container {
  background-color: #333;
}

body.dark-theme .about__text {
  color: #fff;
}

body.dark-theme .about__title {
  color: #ff6b08;
}

body.dark-theme .film__title {
  color: #fff;
}
