//hystmodal

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

ion-icon {
  color: #000000;
}

ion-icon:hover,
ion-icon:focus {
  color: #ff6b08;
}

.footer-modal-open {
  overflow: hidden;
}

.footer-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);

  &__window {
    // outline: 1px solid tomato;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;

    color: #545454;
    font-size: 16px;
    line-height: 1.18;

    background-color: rgba(129, 18, 18, 0.774);
    padding-top: 20px;

    width: 100vw;
    height: 100vh;

    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
  }

  // список подгружаемый с помощью js
  &__list {
    display: flex;
    flex-wrap: wrap;

    width: 50%;
    height: 100vh;
  }

  &__item {
    position: relative;
    align-self: center;
    padding-top: 2.5%;

    margin-bottom: 10px;

    border-radius: 7px;
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__item h3 {
    font-weight: 500;
  }

  &__images {
    border-radius: 5px;
    max-width: 95%;

    margin: auto;
  }

  &__desc {
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__list-link {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }

  // close button
  &__btn {
    position: absolute;
    top: 10px;
    right: 20px;

    width: 30px;
    height: 30px;
    background-image: url(../images/close.svg);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;

    background-color: #e9e6e6;
    color: #ffffff;
    &:hover,
    &:focus {
      background-color: #ff6b08;
    }

    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    cursor: pointer;
    outline: none;
  }

  @media screen and (max-width: 767px) {
    min-width: 320px;

    &__list-link {
      top: 9px;
      right: 7px;
    }
  }

  // Контейнер для tablet
  @media screen and (min-width: 768px) {
    &__list {
      width: 85%;
      margin-top: -15px;
      margin-left: -15px;
    }

    &__list:last-child {
      align-self: center;
    }

    &__item {
      flex-basis: calc((100% - 2 * 15px) / 2);
      margin-top: 15px;
      margin-left: 15px;

      padding-top: 7px;
      border-radius: 8px;
    }

    &__images {
      // border: 1px solid;
      border-radius: 5px;

      margin: auto;
    }
  }

  // Контейнер для desktop
  @media screen and (min-width: 1024px) {
    &__list {
      margin-top: -30px;
      margin-left: -30px;
    }

    &__item {
      flex-basis: calc((100% - 3 * 30px) / 3);
      margin-top: 30px;
      margin-left: 30px;
      border-radius: 9px;
      padding-top: 10px;
    }
  }
}
