.top-btn {
  width: 40px;
  height: 40px;
  background: #ff9c089f;
  opacity: 0;
  border-radius: 50%;
  color: #ffffff;
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #ff6b08;
    box-shadow: 0px 0px 8px 2px #af0909;
  }
  & > svg {
    width: 18px;
    height: 18px;
    fill: #ffffff;
  }

  @media screen and (max-width: 767px) {
    width: 25px;
    height: 25px;
    right: 8px;
    bottom: 16px;
  }
}
