@charset 'utf-8';
.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.pagination-thumb {
  height: 40px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  margin: 40px 0 0;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  height: 30px;
  width: 30px !important;
  padding: 13px 13px 11px;
  margin-left: 0;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  border-width: 0;
  margin: 2px;
  background-color: #f7f7f7;
  color: #333;

  @media screen and (min-width: 280px) {
    max-width: 30px;
    height: 30px;
  }
  // @media screen and (max-width: 768px) {
  //   max-width: 35px;
  //   height: 30px;
  // }
}

.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-page-btn:focus {
  background-color: #ff6b08 !important;
  box-shadow: 0px 0px 8px 2px #af0909;
  border: none;

  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: #ff6b08;
}
.tui-pagination .tui-is-selected:hover {
  background-color: #ff6b08;
}

.tui-pagination .tui-last-child,
.tui-pagination .tui-next-is-ellip {
  border-right: none;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 26px;
  padding: 0;
  font-size: 0;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: none;
  background-color: #f7f7f7;
  color: #000;

  &:hover,
  :focus {
    background-color: #ff6b08;
    box-shadow: 0px 0px 8px 2px #af0909;
    cursor: pointer;
  }
}

.tui-page-btn {
  background-color: #ff6b08;

  width: 35px !important;
  height: 30px;
}
.tui-is-selected {
  background-color: #ff6b08 !important;
  border-color: #ff6b08 !important;
  border-radius: 8px;
}

body.dark-theme .tui-pagination .tui-page-btn {
  background-color: #ff6b08;
  border: none;
  border-radius: 8px;
}

body.dark-theme .tui-is-selected {
  box-shadow: 0px 0px 8px 2px #af0909;
}
