@charset 'utf-8';
.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 28px;
  margin: 40px 0 0;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.pagination-thumb {
  max-width: 280px;
  height: 40px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    max-width: 374px;
    margin-top: 50px;
  }
}
.tui-pagination .tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  padding: 15px 0;
  margin-left: 0;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  border-width: 0;
  margin: 2px;
  background-color: #f7f7f7;
  color: #333;
}

.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-page-btn:focus {
  color: #fff;
  background-color: #ff6b08;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background-color: #ff6b08;
  cursor: default;
}
.tui-pagination .tui-is-selected:hover {
  background-color: #ff6b08;
}

.tui-pagination .tui-first-child,
.tui-pagination .tui-prev-is-ellip {
  border-left: none;
}

.tui-pagination .tui-last-child,
.tui-pagination .tui-next-is-ellip {
  border-right: none;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: none;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 26px;
  padding: 0;
  font-size: 0;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: none;
  background-color: #f7f7f7;

  &:hover,
  :focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}

.tui-pagination .tui-next {
  margin-left: 10px;
  color: #ff6b08;
  &:hover,
  :focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
